body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.header-title {
    border-bottom: 1px solid #e7e9fc;
}

img {
    display: block;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span {
    color: #2e2f42;
}

.header-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    display: flex;
    gap: 40px;
}

.header-ul .link:hover,
.header-ul .link:focus {
    color: #404bbf;
}

.header-li .link {
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.adres {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adres-ul{
    display: flex;
    gap: 40px;
}

.adres:hover,
.adres:focus {
    color: #404bbf
}

.first-section {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.buton {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buton:hover,
.buton:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.second-section {
padding-top: 120px;
padding-bottom: 120px;
}

.visually-hidden {
    visibility: hidden;
}

.second-ul {
    display: flex;
    gap: 24px;
}

.second-li {
    width: calc((100% - 72px) / 4)
} 

.second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.third-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.third-ul {
    display: flex;
    gap: 24px;
}

.third-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4)
    border-radius 0px 0px 4px 4px;
}

.list-person {
    padding: 32px 0;
}

.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.third-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.fourth-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-list {
    width: calc((100% - 48px) / 3)
}

.list-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.fourth-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42; 
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
